[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pytest = "*"
black = "*"
uvicorn = "*"
starlette = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
